In [1]:
import pandas as pd
import functions as f
import sqlalchemy

obtain a list of all the tickers in the sp500 to scrape

In [2]:
df = pd.read_csv('csv/sp500.csv')
symbols = list(df.Symbol)

now scrape all the s&p500 stocks

clean the data

format the dataframes to individual frames with just the date index and price variable

join them to create a large dataframe with closing prices of all the stocks

using sqlalchemy and pandas turn the dataframe into a database table

load the dataframe

In [11]:
apple.df

,date,symbol,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
0,2019-07-22,AAPL,203.650,206.3800,203.6200,206.0445,206.0445,9971867.0,0.0,1.0
1,2019-07-19,AAPL,205.790,206.5000,202.3600,202.5900,202.5900,20896804.0,0.0,1.0
2,2019-07-18,AAPL,204.000,205.8800,203.7000,205.6600,205.6600,18582161.0,0.0,1.0
3,2019-07-17,AAPL,204.050,205.0915,203.2700,203.3500,203.3500,14107450.0,0.0,1.0
4,2019-07-16,AAPL,204.590,206.1100,203.5000,204.5000,204.5000,16866816.0,0.0,1.0
5,2019-07-15,AAPL,204.090,205.8700,204.0000,205.2100,205.2100,16947420.0,0.0,1.0
6,2019-07-12,AAPL,202.450,204.0000,202.2000,203.3000,203.3000,17595212.0,0.0,1.0
7,2019-07-11,AAPL,203.310,204.3900,201.7100,201.7500,201.7500,20191842.0,0.0,1.0
8,2019-07-10,AAPL,201.850,203.7300,201.5600,203.2300,203.2300,17897138.0,0.0,1.0
9,2019-07-09,AAPL,199.200,201.5100,198.8100,201.2400,201.2400,20578015.0,0.0,1.0
10,2019-07-08,AAPL,200.810,201.4000,198.4100,200.0200,200.0200,25338628.0,0.0,1.0
11,2019-07-05,AAPL,203.350,205.0800,202.9000,204.2300,204.2300,17265518.0,0.0,1.0
12,2019-07-03,AAPL,203.280,204.4400,202.6901,204.4100,204.4100,11362045.0,0.0,1.0
13,2019-07-02,AAPL,201.410,203.1323,201.3600,202.7300,202.7300,16935217.0,0.0,1.0
14,2019-07-01,AAPL,203.170,204.4900,200.6500,201.5500,201.5500,27316739.0,0.0,1.0
15,2019-06-28,AAPL,198.680,199.4950,197.0500,197.9200,197.9200,31110642.0,0.0,1.0
16,2019-06-27,AAPL,200.290,201.5700,199.5700,199.7400,199.7400,20899717.0,0.0,1.0
17,2019-06-26,AAPL,197.770,200.9900,197.3500,199.8000,199.8000,26067512.0,0.0,1.0
18,2019-06-25,AAPL,198.430,199.2600,195.2900,195.5700,195.5700,21070334.0,0.0,1.0
19,2019-06-24,AAPL,198.540,200.1600,198.1700,198.5800,198.5800,18220421.0,0.0,1.0
20,2019-06-21,AAPL,198.800,200.8500,198.1500,198.7800,198.7800,47800589.0,0.0,1.0
21,2019-06-20,AAPL,200.370,200.6100,198.0300,199.4600,199.4600,21513988.0,0.0,1.0
22,2019-06-19,AAPL,199.680,199.8800,197.3100,197.8700,197.8700,21124235.0,0.0,1.0
23,2019-06-18,AAPL,196.050,200.2900,195.2100,198.4500,198.4500,26551004.0,0.0,1.0
24,2019-06-17,AAPL,192.900,194.9600,192.1700,193.8900,193.8900,14669144.0,0.0,1.0
25,2019-06-14,AAPL,191.545,193.5863,190.3000,192.7400,192.7400,18761474.0,0.0,1.0
26,2019-06-13,AAPL,194.700,196.7900,193.6000,194.1500,194.1500,21674625.0,0.0,1.0
27,2019-06-12,AAPL,193.950,195.9700,193.3850,194.1900,194.1900,18253189.0,0.0,1.0
28,2019-06-11,AAPL,194.860,196.0000,193.6000,194.8100,194.8100,26932882.0,0.0,1.0
29,2019-06-10,AAPL,191.810,195.3700,191.6200,192.5800,192.5800,26220851.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
5392,1998-02-13,AAPL,19.190,19.8700,19.0000,19.5000,0.6100,1857100.0,0.0,1.0
5393,1998-02-12,AAPL,19.120,19.4400,19.0600,19.3700,0.6060,1819200.0,0.0,1.0
5394,1998-02-11,AAPL,19.500,19.5000,18.8700,19.0000,0.5944,1889900.0,0.0,1.0
5395,1998-02-10,AAPL,19.120,19.5600,19.0600,19.4400,0.6081,3768000.0,0.0,1.0
5396,1998-02-09,AAPL,18.370,19.5000,18.3700,19.1900,0.6003,4416700.0,0.0,1.0
5397,1998-02-06,AAPL,18.370,18.6900,18.2500,18.5000,0.5787,1806600.0,0.0,1.0
5398,1998-02-05,AAPL,18.250,18.5000,18.0000,18.3100,0.5728,2127400.0,0.0,1.0
5399,1998-02-04,AAPL,18.060,18.5000,18.0000,18.2500,0.5709,1519600.0,0.0,1.0
5400,1998-02-03,AAPL,17.690,18.6200,17.6900,18.3100,0.5728,3594800.0,0.0,1.0
5401,1998-02-02,AAPL,18.500,18.5000,17.3700,17.6900,0.5534,5685200.0,0.0,1.0
5402,1998-01-30,AAPL,18.310,18.8700,18.2500,18.3100,0.5728,1450400.0,0.0,1.0
5403,1998-01-29,AAPL,18.940,19.1200,18.5000,18.5000,0.5787,1891800.0,0.0,1.0
5404,1998-01-28,AAPL,19.190,19.3700,18.6200,19.1900,0.6003,1349300.0,0.0,1.0
5405,1998-01-27,AAPL,19.190,19.6900,19.0000,19.1200,0.5981,1002100.0,0.0,1.0
5406,1998-01-26,AAPL,19.440,19.5600,18.8100,19.4400,0.6081,1307500.0,0.0,1.0
5407,1998-01-23,AAPL,19.370,19.6900,19.2500,19.5000,0.6100,2081800.0,0.0,1.0
5408,1998-01-22,AAPL,18.690,19.7500,18.6200,19.2500,0.6022,2944000.0,0.0,1.0
5409,1998-01-21,AAPL,18.750,19.0600,18.5600,18.9100,0.5916,1698300.0,0.0,1.0
5410,1998-01-20,AAPL,19.060,19.3100,18.6200,19.0600,0.5963,2156800.0,0.0,1.0
5411,1998-01-16,AAPL,19.440,19.4400,18.6900,18.8100,0.5884,2199600.0,0.0,1.0
5412,1998-01-15,AAPL,19.190,19.7500,18.6200,19.1900,0.6003,4993500.0,0.0,1.0
5413,1998-01-14,AAPL,19.870,19.9400,19.2500,19.7500,0.6178,5261300.0,0.0,1.0
5414,1998-01-13,AAPL,18.620,19.6200,18.5000,19.5000,0.6100,5686200.0,0.0,1.0
5415,1998-01-12,AAPL,17.440,18.6200,17.1200,18.2500,0.5709,4610700.0,0.0,1.0
5416,1998-01-09,AAPL,18.120,19.3700,17.5000,18.1900,0.5690,7915600.0,0.0,1.0
5417,1998-01-08,AAPL,17.440,18.6200,16.9400,18.1900,0.5690,6910900.0,0.0,1.0
5418,1998-01-07,AAPL,18.810,19.0000,17.3100,17.5000,0.5475,9300200.0,0.0,1.0
5419,1998-01-06,AAPL,15.940,20.0000,14.7500,18.9400,0.5925,16182800.0,0.0,1.0
5420,1998-01-05,AAPL,16.500,16.5600,15.1900,15.8800,0.4968,5820300.0,0.0,1.0
5421,1998-01-02,AAPL,13.630,16.2500,13.5000,16.2500,0.5084,6411700.0,0.0,1.0