In [1]:
import requests
from bs4 import BeautifulSoup
import json
import tqdm 
import pandas as pd
import time
import csv

combine and create a list of all companies listed on 3 major exchanges
pulled from nasdaq website

In [86]:
nasdaq = pd.read_csv('nasdaq.csv')
amex = pd.read_csv('amex.csv')
nyse = pd.read_csv('nyse.csv')

In [87]:
companies = pd.concat([nasdaq, amex, nyse])

In [88]:
symbols = list(companies.Symbol)

now scrape all the tickers

In [89]:
url = 'https://cloud.iexapis.com'
version = 'stable'
id_ = 'stock'
symbol = 'aapl'
type_ = 'chart'
time = 'max'
key = 'pk_7f427566b5444796bb43885380537e62'
pathway = '/stock/{symbol}/chart/{range}/{date}'

In [92]:
import time

In [93]:
frame_list = []
fails = []
for symbol in tqdm.tqdm(symbols[0:5]):
    req = requests.get(f'{url}/{version}/{id_}/{symbol}/{type_}/{time}?token={key}')
    symbol = symbol.strip()
    if req.status_code == 200:
        data = json.loads(req.text)
        df = pd.DataFrame(data)
        df['symbol'] = symbol
        df.columns = map(str.lower, df.columns)
        frame_list.append(df.copy())
        time.sleep(5)
    else:
        fails.append(symbol)

  0%|          | 0/5 [00:00<?, ?it/s]
 20%|██        | 1/5 [00:00<00:02,  1.98it/s]
 40%|████      | 2/5 [00:00<00:01,  2.38it/s]
 60%|██████    | 3/5 [00:00<00:00,  2.84it/s]
 80%|████████  | 4/5 [00:01<00:00,  3.31it/s]
100%|██████████| 5/5 [00:01<00:00,  3.74it/s]

In [96]:
req

In [72]:
symbol = 'aapl'
req = requests.get(f'{url}/{version}/{id_}/{symbol}/{type_}/{time}?token={key}')

In [74]:
req

In [2]:
unpickled_df = pd.read_pickle('pickled_df.p')

In [3]:
unpickled_df

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,symbol
2019-07-12,0.4420,0.4899,0.4497,0.4638,0.4638,301382,0.0000,1.0000,WYY
2019-07-11,0.4200,0.4399,0.4200,0.4270,0.4270,106153,0.0000,1.0000,WYY
2019-07-10,0.4400,0.4405,0.4280,0.4316,0.4316,246705,0.0000,1.0000,WYY
2019-07-09,0.4172,0.4346,0.4150,0.4280,0.4280,247404,0.0000,1.0000,WYY
2019-07-08,0.4250,0.4300,0.4150,0.4172,0.4172,82328,0.0000,1.0000,WYY
2019-07-05,0.4398,0.4398,0.4284,0.4304,0.4304,65834,0.0000,1.0000,WYY
2019-07-03,0.4201,0.4398,0.4200,0.4398,0.4398,98009,0.0000,1.0000,WYY
2019-07-02,0.4302,0.4500,0.4201,0.4201,0.4201,72541,0.0000,1.0000,WYY
2019-07-01,0.4300,0.4653,0.4300,0.4300,0.4300,236285,0.0000,1.0000,WYY
2019-06-28,0.4200,0.4355,0.4180,0.4180,0.4180,83177,0.0000,1.0000,WYY
2019-06-27,0.4380,0.4380,0.4150,0.4251,0.4251,103547,0.0000,1.0000,WYY
2019-06-26,0.4155,0.4375,0.4155,0.4222,0.4222,62962,0.0000,1.0000,WYY
2019-06-25,0.4201,0.4375,0.4195,0.4218,0.4218,113337,0.0000,1.0000,WYY
2019-06-24,0.4250,0.4360,0.4180,0.4220,0.4220,179808,0.0000,1.0000,WYY
2019-06-21,0.4400,0.4400,0.4231,0.4260,0.4260,122627,0.0000,1.0000,WYY
2019-06-20,0.4596,0.4596,0.4200,0.4400,0.4400,141751,0.0000,1.0000,WYY
2019-06-19,0.4600,0.4600,0.4300,0.4378,0.4378,106016,0.0000,1.0000,WYY
2019-06-18,0.4600,0.4675,0.4110,0.4388,0.4388,332598,0.0000,1.0000,WYY
2019-06-17,0.4600,0.4750,0.4350,0.4400,0.4400,108799,0.0000,1.0000,WYY
2019-06-14,0.4400,0.4574,0.4368,0.4500,0.4500,127975,0.0000,1.0000,WYY
2019-06-13,0.4349,0.4500,0.4325,0.4430,0.4430,260282,0.0000,1.0000,WYY
2019-06-12,0.4320,0.4474,0.4320,0.4349,0.4349,98547,0.0000,1.0000,WYY
2019-06-11,0.4408,0.4425,0.4200,0.4364,0.4364,125199,0.0000,1.0000,WYY
2019-06-10,0.4313,0.4500,0.4300,0.4300,0.4300,43333,0.0000,1.0000,WYY
2019-06-07,0.4486,0.4500,0.4110,0.4426,0.4426,315088,0.0000,1.0000,WYY
2019-06-06,0.4551,0.4800,0.4400,0.4500,0.4500,120386,0.0000,1.0000,WYY
2019-06-05,0.4700,0.5050,0.4650,0.4669,0.4669,198327,0.0000,1.0000,WYY
2019-06-04,0.4800,0.4800,0.4600,0.4700,0.4700,43453,0.0000,1.0000,WYY
2019-06-03,0.4590,0.4901,0.4501,0.4846,0.4846,107223,0.0000,1.0000,WYY
2019-05-31,0.4800,0.4939,0.4595,0.4670,0.4670,284003,0.0000,1.0000,WYY
...,...,...,...,...,...,...,...,...,...
2014-04-28,11.9700,11.9900,11.7900,11.8000,11.1198,11865,0.0000,1.0000,AMRK
2014-04-25,11.3401,11.9700,11.3401,11.7600,11.0821,3569,0.0000,1.0000,AMRK
2014-04-24,11.6000,11.6000,11.2110,11.2600,10.6109,3998,0.0000,1.0000,AMRK
2014-04-23,11.6800,11.9000,10.4900,11.7500,11.0726,16872,0.0000,1.0000,AMRK
2014-04-22,11.7400,11.9800,11.7320,11.7700,11.0915,5386,0.0000,1.0000,AMRK
2014-04-21,12.0100,12.0100,11.6500,11.7000,11.0255,4273,0.0000,1.0000,AMRK
2014-04-17,11.9499,12.0200,11.9400,12.0000,11.3082,39577,0.0000,1.0000,AMRK
2014-04-16,11.8000,11.9500,11.7900,11.9000,11.2140,7735,0.0000,1.0000,AMRK
2014-04-15,11.6501,11.8500,11.6500,11.7200,11.0444,9378,0.0000,1.0000,AMRK
2014-04-14,11.7500,11.9400,11.6500,11.9400,11.2517,7605,0.0000,1.0000,AMRK
2014-04-11,11.9080,11.9700,11.9080,11.9700,11.2800,6753,0.0000,1.0000,AMRK
2014-04-10,11.9000,12.0300,11.7521,12.0100,11.3177,35341,0.0000,1.0000,AMRK
2014-04-09,12.1170,12.1500,11.8900,12.0000,11.3082,3964,0.0000,1.0000,AMRK
2014-04-08,12.4900,12.5000,12.0100,12.1500,11.4496,8544,0.0000,1.0000,AMRK
2014-04-07,12.5000,12.5100,11.9999,12.5000,11.7794,11257,0.0000,1.0000,AMRK
2014-04-04,12.9400,12.9400,12.5000,12.5200,11.7983,10387,0.0000,1.0000,AMRK
2014-04-03,13.0900,13.0900,12.8100,12.8800,12.1375,4745,0.0000,1.0000,AMRK
2014-04-02,13.1000,13.1000,12.8000,13.0100,12.2600,4937,0.0000,1.0000,AMRK
2014-04-01,13.2000,13.2000,13.0551,13.0800,12.3260,7308,0.0000,1.0000,AMRK
2014-03-31,13.3900,13.3900,13.0499,13.1200,12.3637,21578,0.0000,1.0000,AMRK
2014-03-28,12.9875,13.0000,12.9875,13.0000,12.2506,2100,0.0000,1.0000,AMRK
2014-03-27,12.5500,13.2000,12.5500,13.1300,12.3731,25257,0.0000,1.0000,AMRK
2014-03-26,12.6000,13.4000,12.2500,12.4700,11.7511,12643,0.0000,1.0000,AMRK
2014-03-25,12.6000,13.4400,12.2000,13.4400,12.6652,4055,0.0000,1.0000,AMRK
2014-03-24,13.0500,13.0500,12.0500,12.4200,11.7040,28745,0.0000,1.0000,AMRK
2014-03-21,13.9000,13.9000,13.0000,13.2400,12.4767,5335,0.0000,1.0000,AMRK
2014-03-20,14.0000,14.0000,13.8010,14.0000,13.1929,4054,0.0000,1.0000,AMRK
2014-03-19,14.1500,14.3999,13.8500,14.0000,13.1929,12799,0.0000,1.0000,AMRK
2014-03-18,13.3000,14.9000,13.2500,14.2501,13.4286,67774,0.0000,1.0000,AMRK
2014-03-17,12.4900,13.6900,12.4900,13.3000,12.5333,34145,0.0000,1.0000,AMRK