In [3]:
import pandas as pd
import functions as f
import sqlalchemy as db
from tqdm import tqdm

obtain a list of all the tickers in the sp500 to scrape

In [ ]:
df = pd.read_csv('csv/sp500.csv')
symbols = list(df.Symbol)

now scrape all the s&p500 stocks

In [ ]:
for symbol in tqdm(symbols):
    f.scrape(symbol)

join them to create a large dataframe with closing prices of all the stocks

In [ ]:
f.scrape.merge_frames()

using sqlalchemy and pandas turn the dataframe into a database table

In [ ]:
engine = db.create_engine('sqlite:///closing_price.db')
f.scrape.add_to_db(closing_price, engine)

load the dataframe from the database

In [4]:
engine = db.create_engine('sqlite:///closing_price.db')
df_prices = pd.read_sql_table('price_close', con=engine)

clean up closing prices

In [5]:
df_prices.set_index('date', inplace=True)
df_prices.drop(columns=['index'], inplace=True)

load the jaccard scores

In [6]:
import pandas as pd
jaccard_df = pd.read_csv('jaccard.csv')

clean the jaccard scores

In [7]:
jaccard_df['Symbol'] = jaccard_df['0'].apply(lambda x: x.split()[0])
jaccard_df['Symbol'] = jaccard_df['Symbol'].apply(lambda x: x[2:-2])
jaccard_df['Year'] = jaccard_df['0'].apply(lambda x: x.split()[1])
jaccard_df['Year'] = jaccard_df['Year'].apply(lambda x: x[:-1])
jaccard_df.drop(columns = ['0'],inplace=True)
jaccard_df.drop(columns = ['Unnamed: 0'],inplace=True)
jaccard_df.columns = ['jaccard_score', 'symbol', 'year']

In [8]:
jaccard_df.head()

   jaccard_score symbol  year
0       0.031066     FB  2019
1       0.038371   FBHS  2018
2       0.035291   FBHS  2019
3       0.008125    FCX  2018
4       0.017146    FCX  2019

create a dataframe 8 month returns

In [9]:
df_returns = f.transform_to_august_returns(df_prices)

In [10]:
df_returns.head()

          2014      2015      2016      2017      2018      2019
MMM   0.044131 -0.051262  0.195614  0.178489 -0.170260 -0.086096
AOS  -0.066592  0.310123  0.160016  0.190526 -0.041281  0.079595
ABT   0.065735  0.102895 -0.078966  0.247375  0.037591  0.215683
ABBV  0.087763  0.039763  0.088526  0.160391 -0.053856 -0.177407
ACN  -0.001843  0.103782  0.114799  0.064142  0.061037  0.329184

create two datasets of 2019 and 2018 returns with their jaccard score